.page-barrel {
  height: 425px;
  overflow-y: auto;
}

.page-barrel .wrap {
  width: 600px;
  margin: 0 auto;
  padding: 5px;
}

.page-barrel .row-ct:after {
  content: '';
  display: block;
  clear: both;
}

.page-barrel .img-ct {
  float: left;
  margin: 5px;
}